[user]
	name = Alexander Alexeychuk
	email = kikudjiro@gmail.com
[core]
	autocrlf = input
	editor = vim -f
[push]
	default = current
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

